@import "../../utils/style/color.scss";
.link {
  border-radius: 25px;
  width: 150px;
}
nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: $primary-color;
  width: 100%;
  box-shadow: 5px 2px 15px $tertiary-color;
  height: 100px;
}
.buttons {
  display: flex;
  gap: 20px;
}
