@import "../utils/style/color.scss";

.box {
  max-width: 700px;
  margin: 20px auto;
}
.iconsPost {
  color: $primary-color;
}
.like--liked {
  animation: liked-anim 500ms 1s ease both;
}
@keyframes liked-anim {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}
.like--disliked {
  animation: liked-anim 500ms 1s ease both;
}
