@import "./utils/style/color.scss";

:root {
  font-family: lato, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background: lighten($tertiary-color, 60%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  width: 100%;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: none;
}
a:hover {
  color: #ffd7d7;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
#root {
  width: 100%;
  display: flex;
  justify-content: center;
}
